@use "../../utilities/functions" as fn;

.pagination-btn {
  border: 1px solid fn.get-color(line);
  border-radius: 4px;
  padding: 6px 9px;
  width: 25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: fn.get-color(bg-pagination);

  &:active {
    -webkit-box-shadow: 0px 0px 18px -5px fn.get-color(box-shadow);
    -moz-box-shadow: 0px 0px 18px -5px fn.get-color(box-shadow);
    box-shadow: 0px 0px 18px -5px fn.get-color(box-shadow);
  }

  &.active {
    background-color: fn.get-color(bg-pagination-active);
    color: fn.get-color(light);
  }
}
